<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
      "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Board">
    <!-- 공지사항 추가 -->
    <insert id="insertNotice" parameterType="noticeVO">
        INSERT INTO notice (
            notice_sort, notice_id, title, content, post_date
        ) VALUES (
            #{notice_sort}, NOTICE_SEQ.NEXTVAL, #{title}, #{content}, sysdate
        )
    </insert>

    <!-- 공지사항 전체 리스트 조회 -->
    <select id="getAllNotice" resultType="noticeVO">
        SELECT * FROM notice
    </select>

    <!-- 공지사항 삭제 -->
    <delete id="deleteNotice" parameterType="String">
        DELETE FROM notice WHERE notice_id = #{notice_id}
    </delete>

    <!-- 공지사항 조회수 증가 -->
    <update id="NoticeCount_view" parameterType="String">
        UPDATE notice SET notice_view = notice_view + 1 WHERE notice_id = #{notice_id}
    </update>

    <!-- 공지사항 상세보기 -->
    <select id="detailNotice" parameterType="String" resultType="noticeVO">
        SELECT * FROM notice WHERE notice_id = #{notice_id}
    </select>

    <!-- 공지사항 검색 -->
    <select id="searchNotice" parameterType="String" resultType="noticeVO">
        SELECT * FROM notice WHERE title LIKE '%' || #{title} || '%'
    </select>

    <!-- 공지사항 수정 -->
    <update id="updateNotice" parameterType="noticeVO">
        UPDATE notice
        SET title = #{title}, content = #{content}, notice_sort = #{notice_sort}
        WHERE notice_id = #{notice_id}
    </update>

    <!-- 1:1 문의 등록 -->
    <insert id="insertOneBoard" parameterType="OneBoardVO">
        INSERT INTO oneboard (
            ONEONONE_ID, CUSTOMER_ID, PERSON_NAME, PERSON_TEL, PERSON_EMAIL,
            QUESTION_TYPE, SUBJECT, CONTENT, WRITEDATE
        ) VALUES (
            NOTICE_SEQ.NEXTVAL, #{customer_id}, #{person_name}, #{person_tel},
            #{person_email}, #{question_type}, #{subject}, #{content}, sysdate
        )
    </insert>
    

    <!-- 1:1 문의 삭제 -->
    <delete id="deleteOneBoard" parameterType="String">
        DELETE FROM oneboard WHERE oneonone_id = #{oneonone_id}
    </delete>
    
<!--     1:1문의 전체리스트 조회 -->
  <select id="getAllOneBoard" resultType="OneBoardVO">
        SELECT * FROM oneboard
    </select>

    <!-- 공지사항 수정 -->
    <update id="rlplyOneboard" parameterType="OneBoardVO">
        update oneboard set response_board_content = '답변완료'
    where oneonone_id= #{oneonone_id}
    </update>
</mapper>
