<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        


<!--==================== NOTICE 부분입니다 ===================-->

<mapper namespace="Board">
                     
<!-- 공지사항 추가 -->
<insert id="insertNotice" parameterType="noticeVO">
    INSERT INTO notice (
        notice_sort, notice_id, title, content, post_date
    ) VALUES (
        #{notice_sort}, NOTICE_SEQ.NEXTVAL, #{title}, #{content}, sysdate
    )
</insert>

<select id="getAllNotice" resultType="noticeVO">
 select * from notice
</select>

<delete id="deleteNotice" parameterType="String">
	delete from notice where notice_id = #{notice_id}
</delete>

 <update id="NoticeCount_view">
 	update notice set notice_view =  notice_view+1 where notice_id = #{notice_id}
 </update>

 </mapper>





 



  

  

  