<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Movie">

	<!-- 특정 영화 정보 조회 -->
<!-- 	<select id="getMovieDetail" resultType="movieVO" parameterType="string"> -->
<!-- 		SELECT * FROM MOVIE WHERE MOVIE_ID = #{movie_id} -->
<!-- 	</select> -->

	<!-- 모든 영화 정보 조회 -->
	<select id="getAllMovies" resultType="movieVO">
		 select * from movie
	</select>
	
	
<!-- 	Screen 리스트 조회 -->
	<select id="getAllScreen" resultType="ScreenVO">
		  select * from screen
	</select>


</mapper>