<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC 
    "-//mybatis.org/DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Review">

    <insert id="insertReview" parameterType="reviewVO">

        INSERT INTO REVIEW (MOVIE_ID, CUSTOMER_ID, REV_STAR, REV_CONTENT, REV_DATE)
        VALUES (#{movie_id}, #{customer_id}, #{rev_star}, #{rev_content}, SYSDATE)
    </insert>

<!--     <delete id="deleteReview" parameterType="int"> -->
<!--         DELETE FROM REVIEW WHERE REVIEW_NUM = #{review_num} -->
<!--     </delete> -->

<!--     <update id="updateReview" parameterType="Vo.ReviewVO"> -->
<!--         UPDATE REVIEW -->
<!--         SET MOVIE_ID = #{movie_id}, -->
<!--             CUSTOMER_ID = #{customer_id}, -->
<!--             REV_STAR = #{rev_star}, -->
<!--             REV_CONTENT = #{rev_content}, -->
<!--             REV_DATE = SYSDATE -->
<!--         WHERE REVIEW_NUM = #{review_num} -->
<!--     </update> -->

<!--     <select id="getAllReview" resultType="Vo.ReviewVO"> -->
<!--         SELECT * FROM REVIEW -->
<!--     </select> -->

    
</mapper>