<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC 
    "-//mybatis.org/DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
    <mapper namespace="Reservation">
    
    <insert id ="insertReservation" parameterType="reservationVO">
            INSERT INTO reservations (customer_id, seat_id, schedule_id, movie_name, screen_id, theater_id, reservation_num, reservation_status, reservation_date)
        VALUES (#{customer_id}, #{seat_id}, #{schedule_id}, #{movie_name}, #{screen_id}, #{theater_id}, #{reservation_num}, #{reservation_status}, SYSDATE}
    
    </insert>
    
    
    
    </mapper>


