<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="RPayment">

<insert id = "insertRPayment" parameterType="rpaymentVO">
insert into RPAYMENT(PAYMENT_ID,CUSTOMER_ID, RESERVATION_ID,PAYMENT_DAY, PAYMENT_METHOD,PAYMENT_PRICE,PAYMENT_STATUS,SCREEN_ID)
values(
RPAYMENT_SEQ.NEXTVAL, #{payment_id},#{reservation_id},SYSDATE,#{payment_method},#{payment_price},#{payment_status},#{screen_id},#{customer_id}
)
</insert>

<select id ="getAllRPayment" resultType="rpaymentVO">
select * from RPAYMENT
</select>
	
</mapper>
